

.titulo {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.imagen {
  height: 300px;
  width: 100%;
}

.detalles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.detalles > .precio {
  margin: 0;
}

/* CARRITO */
.carrito-items {
  padding: 20px 0px;
}

.carrito-header {
  border-bottom: 1px solid #ccc;
}

.carrito-imagen {
  max-width: 80px;
  border-radius: 20px;
}

.carrito-cantidad-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.carrito-total {
  min-height: 96px;
}

.footer{
  background-color: #eebaba;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav a{
  color: black;
  font-size: 20px;
  
}
nav a:hover{

  text-decoration: none;
  color:black;
}

.container h1{
  padding-top: 70px;
}

header img{
  width: 30px;
}




.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.titulos2{
  padding-top: 100px;
  text-align: center;
}




.heading h1{
  padding-top: 50px;
}



.btn a{
  text-decoration:none;
  color: white;
}

.btn a:hover{
  text-decoration:none;
  color: white;
}










.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  
  margin:  auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}



.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none
}

#mail{
  display: flex;
  justify-content: center;
}