.navbar a{
  text-decoration: none;
  color: white;
}

.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-titulo {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-imagen {
  height: 300px;
  width: 100%;
}

.item-detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.detalle > .precio {
  margin: 0;
}

.carrito-items {
  padding: 20px 0px;
}

.carrito-header {
  border-bottom: 1px solid #ccc;
}

.carrito-image {
  max-width: 80px;
  border-radius: 20px;
}

.carritoCantidad-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.carrito-total {
  min-height: 96px;
}
